* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke
}

body {
    background-color: aliceblue;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: rgba(0,0,0,.44);
    color: whitesmoke;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight, a {
    text-decoration: none;
    font-size: 0.8rem;
    color: royalblue;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,.44);;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#aboutDiv {
    text-align: center;
}

#aboutWebsite {
    color: black;
}

.link {
    position: fixed;
    top: 20px;
    right: 10px;
    font-size: 1.2rem;
    color: white;
    border: 2px solid white;
    /* padding: 5px; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainBody {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px - 50px);
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 20px;
}

#searchBar {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    color: black;
    padding-right: 50px;
    font-size: 1.2rem;
}

#searchDiv {
    position: relative;
    margin-bottom: 30px;
}

#searchIconDiv {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    border-left: 2px solid rgba(0,0,0,0.33);
    padding-left: 5px;
}

#movieCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    gap: 20px;
    height: calc(100vh - 50px - 30px - 50px);
}

.noresult {
    color: red;
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
}

/* Implement your styling here */